name: Create Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to publish (e.g., 1.2.3). Do not include the "v" prefix.'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Get Version
        id: get_version
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            # Get version from the tag name (e.g., "v1.2.3" -> "1.2.3")
            echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
          else
            # Get version from the manual input
            echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
          fi
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create v${{ env.VERSION }} \
             --generate-notes \
             --title "Release v${{ env.VERSION }}"
